.blue{
	position: absolute;
    top: 0;
	left: 0;
	border: none;
    background-color: #005a8c;
	height: 100%;
	width: 100%;
}
.mckessonlogo{
	position: absolute;
	top: 0px;
	right:0px;
	height: 50px;
	width: 150px;
}
.iframe{
	position: absolute;
	top: 50px;
	left: 0;
	height: 600px;
	width: 100%;
}
.form{
	position: absolute;
	left:30%;
	top:40%;
}
.text{
	font-weight: bold;
	color: white;
}
.a {
	color: white;
    text-decoration: none;
}
.header{
	position: absolute;
    top: 0;
	left: 0;
	border: none;
    background-color: #005a8c;
	height: 50px;
	width: 100%;
}
.button{
	position: absolute;
	top:660px;
}
.header-text{
	position: absolute;
    top: -15px;
	left: 35%;
	position: absolute;
	color: white;
	text-align: center
}