<<<<<<< HEAD
.header{
	position: absolute;
    top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	vertical-align: middle;
}
.mckessonlogo{
	position: absolute;
	left:2%;
	height: 50px;
	width: 150px;
}
.name{
	color: #005a8c;
	position: absolute;
	top:-15px;
	right: 1%;
	text-align: center;
}
.header-list{
	display:inline;
	position: absolute;
	left: 73%;
}
.text{
	font-weight: bold;
	color: #005a8c;
	font-family: "Times New Roman", Times, serif;
	text-decoration:none;
}


.blue{
	position: absolute;
    top: 50px;
	left: 0;
	border: none;
    background-color: #005a8c;
	height: 70px;
	width: 100%;
}
.text-white{
	position: absolute;
    top: -5px;
	left:35%;
	font-weight: bold;
	color: white;
	font-family: "Times New Roman", Times, serif;
}


.darkblue{
	position: absolute;
    top: 170px;
	left: 0;
	border: none;
    background-color: #00456b;
	height: 30px;
	width: 100%;
}
.text-white1{
	font-weight: bold;
	color: white;
	font-family: "Times New Roman", Times, serif;
}
.mms{
	position: absolute;
    top: 7px;
	left: 20%;
	width: 250px;
}
.uspharma{
	position: absolute;
    top: 7px;
	left: 65%;
	width: 250px;
}


.iframe{
	position: absolute;
	top: 100px;
=======
.blue{
	position: absolute;
    top: 0;
	left: 0;
	border: none;
    background-color: #005a8c;
	height: 100%;
	width: 100%;
}
.mckessonlogo{
	position: absolute;
	top: 0px;
	right:0px;
	height: 50px;
	width: 150px;
}
.iframe{
	position: absolute;
	top: 50px;
>>>>>>> cb2c046261e6c49adfa9e06e898728590cb11599
	left: 0;
	height: 600px;
	width: 100%;
}
.form{
	position: absolute;
	left:30%;
	top:40%;
}
<<<<<<< HEAD

.button{
	position: absolute;
	top:710px;
	height:70px;
}
.header-text{
	position: absolute;
    top: -15px;
	left: 40%;
	position: absolute;
	color: white;
	text-align: center
}

.table1{
 position: absolute;
 left:40px;
}
.wrapper{
 position: absolute;
 left:0;
 top:120px;
 width:100%;
 height: 520px;
 background-color: #d4d4d4;
}
#main_content
{
 position: absolute;
 top:20px;
 width:90%;
 height: 400px;
 margin-left:5%;
 margin-right:5%;
}
#main_content li
{
 display:inline;
 list-style-type:none;
 background-color:#688A08;
 padding:10px;
 border-radius:5px 5px 0px 0px;
 color:#292A0A;
 font-weight:bold;
 cursor:pointer;
}
#main_content li.notselected
{
 background-color:#FFFFFF;
 color:#005a8c;	
}
#main_content li.selected
{
 background-color:#005a8c;
 color:#FFFFFF;	
}
#main_content .hidden_desc
{
 display:none;
 visibility:hidden;
}
#main_content #page_content
{
 background-color:#f5f5f5;
 position: absolute;
 top:20px;
 width:90%;
 height: 400px;
 padding:10px;
 border-radius:0px 5px 5px 5px;
 color:#2E2E2E;
 line-height: 1.6em;
 word-spacing:4px;
}

.blue-header{
	position: absolute;
    top: 50px;
=======
.text{
	font-weight: bold;
	color: white;
}
.a {
	color: white;
    text-decoration: none;
}
.header{
	position: absolute;
    top: 0;
>>>>>>> cb2c046261e6c49adfa9e06e898728590cb11599
	left: 0;
	border: none;
    background-color: #005a8c;
	height: 50px;
	width: 100%;
}
<<<<<<< HEAD

.footer{
  position: absolute;
    top: 630px;
	left: 0;
	border: none;
    background-color: #005a8c;
	height:30px;
	font-size:100%;
  width: 100%;
	position:fixed;
}
.footer-text{
  position: absolute;
    top: 20%;
	left: 35%;
	border: none;
    color: white;
=======
.button{
	position: absolute;
	top:660px;
}
.header-text{
	position: absolute;
    top: -15px;
	left: 35%;
	position: absolute;
	color: white;
	text-align: center
>>>>>>> cb2c046261e6c49adfa9e06e898728590cb11599
}